RewriteEngine on

RewriteBase /sms/

RewriteRule ^creation/(.*)$ index.php?app=Creation [QSA,L]

RewriteRule ^test/(.*)$ index.php?app=Test [QSA,L]

RewriteRule ^home/(.*)$ index.php?app=Home [QSA,L]

RewriteRule ^settings/(.*)$ index.php?app=Settings [QSA,L]

RewriteRule ^authentification/(.*)$ index.php?app=Authentification [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
 
AddType text/css .css
