<routes>
	<route url="/home/?$" module="Home" action="index"/>
        <route url="/home/?$" module="Home" action="index"/>
        <route url="/home/" module="Home" action="renvoi" vars="date"/>
        <route url="/home/contacts/?$" module="Home" action="contacts" />
        <route url="/home/([a-z|0-9|-]*)" module="Home" action="renvoi" vars="date"/>
        
</routes>