<routes>

	<route url="/test/user/create/" module="User" action="create"/>
	<route url="/test/user/([0-9]+)/delete/" module="User" action="delete" vars="id"/>
	<route url="/test/user/" module="User" action="index"/>
	<route url="/test/user/search/" module="User" action="index"/>
<!-- routes pour teste les contact -->
	<route url="/test/contact/create/" module="Contact" action="create"/>
	<route url="/test/contact/([0-9]+)/delete/" module="Contact" action="delete" vars="id"/>
	<route url="/test/contact/" module="Contact" action="index"/>
	<route url="/test/contact/search/" module="Contact" action="index"/>

<!-- routes pour teste les numero -->
	<route url="/test/numero/create/" module="Numero" action="create"/>
	<route url="/test/numero/([0-9]+)/delete/" module="Numero" action="delete" vars="id"/>
	<route url="/test/numero/" module="Numero" action="index"/>
	<route url="/test/numero/search/" module="Numero" action="index"/>

<!-- routes pour teste les numero -->
	<route url="/test/message/create/" module="SMS" action="create"/>
	<route url="/test/message/([0-9]+)/delete/" module="SMS" action="delete" vars="id"/>
	<route url="/test/message/" module="SMS" action="index"/>
	<route url="/test/message/search/" module="SMS" action="index"/>
</routes>